.app-header {
  background-color: var(--blc);
  color: var(--wit);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.app-header .logo {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 2rem;
  margin: 0;
  color: var(--clr1);
}

.app-header .app-nav {
  margin: 0;
  height: fit-content;
}

.app-header .app-nav a {
  display: inline-block;
  padding: 2px 10px;
  margin: 5px;
}

.app-header .app-nav a:hover,
.app-header .app-nav .active {
  color: var(--clr1);
}

/* 
@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
} */