.app-header {
  background-color: var(--blc);
  color: var(--wit);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.app-header .logo {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 2rem;
}

.app-header .app-nav ul li {
  list-style: none;
  display: inline-block;
  padding-inline: 10px;
}

/* 
@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
} */